{{define "handler"}}
    {{template "handler_partial" .}}
{{end}}

{{define "handler_partial"}}
    {{range .Commands}}
        func (a {{$.Aggregate}}) Handle{{.}}(ctx context.Context, cmd {{.}})  (cqrs.Message, error) {
            panic("implement me")
        }
    {{end}}

    {{range .Events}}
        func (a *{{$.Aggregate}}) Apply{{.}}(ctx context.Context, event {{.}}) error {
            panic("implement me")
        }
    {{end}}
{{end}}