{{define "view"}}

{{template "header" .}}

const {{.View}}Type cqrs.ViewType = "{{.View}}"

func (v *{{.View}}) init(){
{{range .Listeners}}
    cqrs.Subscribe(func(ctx context.Context, msg cqrs.Message) error {
        return v.On{{.}}(ctx, msg.(*{{.}}))
    }, {{.}}Type)
{{end}}
}
{{end}}