{{define "view"}}

{{template "header" .}}

const {{.View}}Type cqrs.ViewType = "{{.View}}"

func init(){
{{range .Listeners}}
    cqrs.Subscribe(func(ctx context.Context, msg cqrs.Message) error {
        return (*{{$.View}}).On{{.}}(cqrs.GetView({{$.View}}Type).(*{{$.View}}),ctx, msg.(*{{.}}))
    }, {{.}}Type)

{{end}}
}
{{end}}